In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('loan_approval_dataset.csv')

In [5]:
data.drop(columns = ['Gender'], inplace = True)

In [7]:
data.columns

Index(['Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [13]:
data.columns = data.columns.str. strip()

In [14]:
data.columns

Index(['Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [15]:
data

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Yes,1,Graduate,Yes,2026,2529,415,240,0,Semiurban,Y
1,Yes,2,Not Graduate,No,4724,2964,593,360,1,Semiurban,Y
2,Yes,0,Not Graduate,No,16569,7137,573,240,1,Rural,N
3,No,0,Graduate,No,13036,963,65,300,0,Rural,Y
4,Yes,0,Graduate,No,15047,536,178,300,1,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...
495,Yes,0,Graduate,No,12638,687,108,180,1,Urban,Y
496,Yes,3+,Not Graduate,No,4030,3690,520,360,0,Rural,Y
497,No,3+,Graduate,No,19844,8804,515,180,1,Rural,N
498,No,2,Graduate,Yes,18932,2307,61,360,1,Rural,N
499,Yes,2,Graduate,No,7272,7133,339,180,0,Semiurban,Y

In [16]:
data.columns

Index(['Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [28]:
data.drop(columns = ['Dependents', 'Property_Area', 'Self_Employed', 'Loan_Status'], inplace = True)

In [29]:
data

,Married,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,Yes,Graduate,2026,2529,415,240,0
1,Yes,Not Graduate,4724,2964,593,360,1
2,Yes,Not Graduate,16569,7137,573,240,1
3,No,Graduate,13036,963,65,300,0
4,Yes,Graduate,15047,536,178,300,1
...,...,...,...,...,...,...,...
495,Yes,Graduate,12638,687,108,180,1
496,Yes,Not Graduate,4030,3690,520,360,0
497,No,Graduate,19844,8804,515,180,1
498,No,Graduate,18932,2307,61,360,1
499,Yes,Graduate,7272,7133,339,180,0

In [30]:
data.isnull().sum()

Married              0
Education            0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
dtype: int64

In [31]:
data

,Married,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,Yes,Graduate,2026,2529,415,240,0
1,Yes,Not Graduate,4724,2964,593,360,1
2,Yes,Not Graduate,16569,7137,573,240,1
3,No,Graduate,13036,963,65,300,0
4,Yes,Graduate,15047,536,178,300,1
...,...,...,...,...,...,...,...
495,Yes,Graduate,12638,687,108,180,1
496,Yes,Not Graduate,4030,3690,520,360,0
497,No,Graduate,19844,8804,515,180,1
498,No,Graduate,18932,2307,61,360,1
499,Yes,Graduate,7272,7133,339,180,0

In [33]:
data.Education.unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [35]:
def clean_data(st) :
    st = st.strip()
    return st

In [36]:
clean_data('Graduate')

'Graduate'

In [37]:
data.Education = data.Education.apply(clean_data)

In [38]:
data.Education.unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [39]:
data['Education'] = data['Education'].replace(['Graduate', 'Not Graduate'], [1,0])

C:\Users\admin\AppData\Local\Temp\ipykernel_12912\4237503727.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Education'] = data['Education'].replace(['Graduate', 'Not Graduate'], [1,0])

In [40]:
data

,Married,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,Yes,1,2026,2529,415,240,0
1,Yes,0,4724,2964,593,360,1
2,Yes,0,16569,7137,573,240,1
3,No,1,13036,963,65,300,0
4,Yes,1,15047,536,178,300,1
...,...,...,...,...,...,...,...
495,Yes,1,12638,687,108,180,1
496,Yes,0,4030,3690,520,360,0
497,No,1,19844,8804,515,180,1
498,No,1,18932,2307,61,360,1
499,Yes,1,7272,7133,339,180,0

In [41]:
data.Married.unique()

array(['Yes', 'No'], dtype=object)

In [42]:
data.Married = data.Married.apply(clean_data)

In [44]:
data.Married.unique()

array(['Yes', 'No'], dtype=object)

In [46]:
data.Married = data.Married.replace(['Yes', 'No'],(1,0))

C:\Users\admin\AppData\Local\Temp\ipykernel_12912\552208623.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.Married = data.Married.replace(['Yes', 'No'],(1,0))

In [47]:
data

,Married,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,1,1,2026,2529,415,240,0
1,1,0,4724,2964,593,360,1
2,1,0,16569,7137,573,240,1
3,0,1,13036,963,65,300,0
4,1,1,15047,536,178,300,1
...,...,...,...,...,...,...,...
495,1,1,12638,687,108,180,1
496,1,0,4030,3690,520,360,0
497,0,1,19844,8804,515,180,1
498,0,1,18932,2307,61,360,1
499,1,1,7272,7133,339,180,0

In [50]:
from sklearn.model_selection import train_test_split

In [52]:
input_data = data.drop(columns = ['Credit_History'])
output_data = data['Credit_History']

In [53]:
input_data

,Married,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term
0,1,1,2026,2529,415,240
1,1,0,4724,2964,593,360
2,1,0,16569,7137,573,240
3,0,1,13036,963,65,300
4,1,1,15047,536,178,300
...,...,...,...,...,...,...
495,1,1,12638,687,108,180
496,1,0,4030,3690,520,360
497,0,1,19844,8804,515,180
498,0,1,18932,2307,61,360
499,1,1,7272,7133,339,180

In [54]:
output_data

0      0
1      1
2      1
3      0
4      1
      ..
495    1
496    0
497    1
498    1
499    0
Name: Credit_History, Length: 500, dtype: int64

In [74]:
x_train, x_test, y_train, y_test = train_test_split (input_data, output_data, test_size = 0.2)

In [75]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((400, 6), (100, 6), (400,), (100,))

In [76]:
from sklearn.preprocessing import StandardScaler

In [80]:
scaler = StandardScaler()

In [81]:
x_train_scaled = scaler.fit_transform(x_train)

In [82]:
x_test_scaled = scaler.transform(x_test)

In [85]:
from sklearn.linear_model import LogisticRegression

In [86]:
model = LogisticRegression()

In [87]:
model.fit(x_train_scaled, y_train)

LogisticRegression()

In [90]:
model.score(x_test_scaled, y_test)

0.47

In [91]:
pred_data = pd.DataFrame([['1','1','2026','2529','415','240']],columns = ['Married' ,'Education' ,'ApplicantIncome' ,'CoapplicantIncome' , 'LoanAmount' , 'Loan_Amount_Term'])

In [92]:
pred_data = scaler.transform(pred_data)

In [93]:
model.predict(pred_data)

array([0])

In [94]:
import pickle as pk

In [96]:
pk.dump(model, open('model.pk1','wb'))

In [97]:
pk.dump(scaler,open('scaler.pk1','wb'))